*~
*.a
*.c.*r.*
*.exe
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.log
*.o
*.out
*.pc
perf.*
*.pyc
*.s
*.stackdump
*.stamp
*.swp
*.trs

# autotools
.autotools
.libs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
stamp-h2
/build/
/m4/

# clion
CMakeLists.txt
.idea

# binaries
/shoco
/test_input
/tests
